




<!-- # <% if @word == @word.upcase %>
# <h1>Ahhh si, manzanas!</h1>
# <% else  %>
# <h1>Habla más duro mijito</h1>
# <% end %>
#
#
# Estas utilizando Netscape 5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.89 Safari/537.36
#
# <script languaje="JavaScript">
# <!
# alert("Estas utilizando "+navigator.appName+" "+navigator.appVersion);
# //
#</script> -->
